alabaster==0.7.12
appdirs==1.4.4
atomicwrites==1.4.0
attrs==21.2.0
Babel==2.9.1
black==19.10b0
Brotli==1.0.9
certifi==2021.10.8
charset-normalizer==2.0.7
chart-studio==1.1.0
click==8.0.1
colorama==0.4.4
commonmark==0.9.1
dash==2.0.0
dash-auth==1.4.1
dash-bootstrap-components==1.0.0b2
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
docutils==0.17.1
flake8==3.9.2
Flask==2.0.1
Flask-Caching==1.10.1
Flask-Compress==1.10.1
Flask-SeaSurf==0.3.1
idna==3.3
imagesize==1.2.0
iniconfig==1.1.1
isort==5.10.0
itsdangerous==2.0.1
Jinja2==3.0.1
joblib==1.1.0
kaleido==0.2.1
MarkupSafe==2.0.1
mccabe==0.6.1
numpy==1.21.2
packaging==21.0
pandas==1.3.3
pathspec==0.9.0
plotly==5.3.1
-e .
pluggy==1.0.0
py==1.10.0
pycodestyle==2.7.0
pyflakes==2.3.1
Pygments==2.10.0
pyparsing==2.4.7
pytest==6.2.5
python-dateutil==2.8.2
python-dotenv==0.19.0
pytz==2021.1
recommonmark==0.7.1
regex==2021.11.2
requests==2.26.0
retrying==1.3.3
six==1.16.0
snowballstemmer==2.1.0
Sphinx==4.2.0
sphinx-press-theme==0.8.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
tenacity==8.0.1
toml==0.10.2
typed-ast==1.4.3
ua-parser==0.10.0
urllib3==1.26.7
Werkzeug==2.0.1
